<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
        table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
<body>

<label>Student ID: {{Student_ID}}</label><br/>
<label>Subject Code: {{Subject_Code}}</label></br>

<table style="overflow-x:auto">

    <tr>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for date,status in empty_dict.items() %}
    <tr>
        <td>{{date}}</td>
        <td>{{status}}</td>
    </tr>
    {% endfor %}





</table>

</body>
</html>