<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
table, th, td {
  border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 15px;
}
form {
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 200px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
<body>
<div>
    <table style="overflow-x:auto;">
        <tr>
        <th>Student_id</th>
        <th>subject_code</th>
        <th>Number of classes conducted</th>
        <th>Number of classes attended</th>
        <th>Percentage</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
        </tr>
        {% endfor %}

    </table>
    <div>
        <form action="{{url_for('subject_a_details')}}" method="post">
            <input type="submit" value="Click here for more info">
        </form>
    </div>
</div>

</body>
</html>
