.font-display {
  font-family: 'Suez One', serif;
}

.font-body {
  font-family: 'Fira Sans', sans-serif;
}
header_menu {
  	background-color: blue;
	padding:30px;
  text-align: left;
}

header {
	background-color: purple;
	background-image: url("https://blog.hubspot.com/hubfs/books-every-aspiring-ceo-should-read.jpg");
	background-size:cover;
	padding:70px;
  text-align: center;
}
h1{
  text-transform:uppercase;
 font-size:300%;
 color:Black;
  text-align:left;
  margin:50px;
  text-shadow: 2px 2px 5px blue;
   font-style: oblique;
}

.info {
  max-width: 700px;
  padding: 25px;
  margin: 0 auto;
}

.info__text {
  font-size: 22px;
  line-height: 1.5;
  margin: 0 0 30px 0;
}

.info__link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info__link-list-item {
  margin-bottom: 20px;
}

.button {
  display: block;
  text-align: center;
  
  text-decoration: none;
  font-size: 18px;
  color: blue;
  border: 2px solid dodgerblue;
  padding: 6px 20px;
  border-radius: 10px;
  max-width: 250px;
  margin: 0 auto;
}

.button:hover {
  background: dodgerblue;
  color: white;
}

.article {
  max-width: 700px;
  margin: 0 auto;
  padding: 25px;
}

.article__header {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.article__header h1 {
  font-size: 36px;
  font-family: 'Suez One', serif;
  margin: 0 0 8px 0;
}

.article__header .byline {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

.article__body p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 15px 0;
}

.article__body p:last-child,
.article__body img:last-child {
  margin: 15px 0 0 0;
}

.article__body img {
  max-width: 100%;
  margin: 15px 0
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: skyblue;
  padding: 40px;
}

.footer__logo {
  display: block;
  max-width: 120px;
  margin-bottom: 10px;
}

.footer__text {
  font-size: 16px;
  color: white;
  margin: 0;
} 
@media all and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.flex-container{
  display: flex;
}
