<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images2/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts2/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts2/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor2/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor2/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/ss2/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css2/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(../static/images2/bg-01.jpg);">
					<span class="login100-form-title-1">
						Reset Password
					</span>
				</div>
				

				<form class="login100-form validate-form" action="{{url_for('update_password')}}" method="post">
				{% with keek = get_flashed_messages(with_categories=true) %}
     {% if keek %}
     {% for category,item in keek %}

   <div class="{{category}}"><button type="button" class="clr" >{{item}}</button></div>
     {% endfor %}
    {% endif %}
{% endwith %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"></span>
						<label for="uname"><b>Student ID</b></label>
						<input class="input100" type="text" name="student_id1" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100"></span>
						<label for="psw"><b>Password</b></label>
						<input class="input100" type="password" name="password1" placeholder="Enter New password">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100"></span>
						<label for="psw1"><b>Password</b></label>
						<input class="input100" type="password" name="password11" placeholder="Re-Enter password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-40">
						<div class="contact100-form-checkbox" style="margin-top: 10%;">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100 " for="ckb1">
								Remember me
							</label>
						</div>
					<div class="container-login100-form-btn" style="margin-top: 15%;">
					 <button type="submit">Update Password</button>	
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="../static/vendor2/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/bootstrap/js/popper.js"></script>
	<script src="../static/vendor2/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor2/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js2/main.js"></script>

</body>
</html>