<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images3/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor3/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts3/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts3/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor3/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor3/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor3/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor3/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor3/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css3/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css3/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-20 p-b-20">
				<form class="login100-form validate-form" action="{{url_for('update_password_teacher')}}" method="post">
				{% with keek = get_flashed_messages(with_categories=true) %}
     {% if keek %}
     {% for category,item in keek %}

   <div class="{{category}}"><button type="button" class="clr" >{{item}}</button></div>
     {% endfor %}
    {% endif %}
{% endwith %}
					<span class="login100-form-title p-b-30">
						Reset Password
					</span>
					<span class="login100-form-avatar">
						<img src="../static/images/img_avatar2.png" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-40 m-b-20" data-validate = "Enter Teacher ID">
						<input class="input100" type="text" name="teacher_id1">
						<span class="focus-input100" data-placeholder="Enter Teacher ID"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-20" data-validate="Enter password">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-40" data-validate="Enter password">
						<input class="input100" type="password" name="pass1">
						<span class="focus-input100" data-placeholder="Re-Enter Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Update Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/vendor3/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor3/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor3/bootstrap/js/popper.js"></script>
	<script src="../static/vendor3/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor3/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor3/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor3/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor3/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js3/main.js"></script>

</body>
</html>
