<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Python Poll</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/d243434da5.js" crossorigin="anonymous"></script>
  <link id="theme" rel="stylesheet" type="text/css" href="..\static\css\style.css" title="theme" /> 

  <style type="text/css">
  
		.poll-member h1 {
			cursor: pointer
		}

    .percentageBarParent{
      height: 22px;
      width: 100%;
      border: 1px solid black;
       border-radius: 25px;;
    
    }
   
    .percentageBar {
      height: 20px;
      width: 0%;
    }
    body{
      background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .main{
      margin-top: 10%;
    }
    h1{
      color:black;
    }
	</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #231069;">
    <a class="navbar-brand" href="{{url_for('homenew')}}" id="a"><strong>OnlineClass</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
         
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Poll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('start')}}">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('notes')}}">Notes</a>
          </li>
          <li id="parentDropdown dropdown" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="/some-link" data-target="#parentDropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attendance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form action="{{url_for('attendence_percentage_subject_a')}}" method="post">
                <button type="submit" name="your_name" value="your_value" class="btn-link" id="edit" >Subject-A</button>
              </form>
              <form action="{{url_for('attendence_percentage_subject_b')}}" method="post">
                <button type="submit" name="your_name" value="your_value" class="btn-link" id="edit">Subject-B</button>
              </form>
              <form action="{{url_for('attendence_percentage_subject_c')}}" method="post">
                <button type="submit" name="your_name" value="your_value" class="btn-link" id="edit">Subject-C</button>
              </form>
            </div>
          </li>
          <li class="nav-item">
            <form action="{{url_for('logout')}}" method="post">
              <button type="submit" name="your_name" value="your_value" class="btn-link"  >Logout</button>
          </form>
          </li>
      </ul>
      </div>
  </nav>
	<div class="main">
      <div class="container">
        <h1>{{question}}</h1>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="poll-member Go">
                <h1>A.{{option1}}&nbsp;&nbsp;</h1>
                <div class="percentageBarParent">
                <div class="percentageBar" id="Go"></div>
              </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="poll-member ">
                <h1>B.{{option2}}&nbsp;&nbsp;</h1> 
                <div class="percentageBarParent">
                <div class="percentageBar" id="Python"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="poll-member PHP">
                <h1>C.{{option3}}&nbsp;&nbsp;</h1> 
                <div class="percentageBarParent">
                <div class="percentageBar" id="PHP"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="poll-member Ruby">
                <h1>D.{{option4}}&nbsp;&nbsp;</h1> 
                <div class="percentageBarParent">
                <div class="percentageBar" id="Ruby"></div>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-dark " href="{{url_for('homenew')}}" role="button" style="margin-left: 45%; margin-top: 5%; padding: 1% 5%; border-radius: 20px;">Done</a>
        </div>
      </div>
    </div>
    <!-- ***** Features Small End ***** -->

<footer class="footer" style="margin-top: 10%;">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">About</h5>
  <!--headin5_amrc-->
  <p class="mb10">OnlineClass is an application that includes features for online class managing such as real-time poll and attendance monitoring built using Python and Flask.</p>
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Contact</h5>
  <!--headin5_amrc-->
  <p><i class="fa fa-location-arrow"></i> Shakti Nagar, Mangalore, Karnataka 575016 </p>
  <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
  <p><i class="fa fa fa-envelope"></i> sushikshawkc@gmail.com  </p>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a href="{{url_for('index')}}"><i class="fas fa-poll"></i>  Poll</a></li>
  <li><a href="{{url_for('start')}}"><i class="fas fa-users"></i> Quiz</a></li>
  <li><a href="{{url_for('notes')}}"><i class="fas fa-book-reader "></i>  Notes</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
  <!--headin5_amrc ends here-->
  
  <ul class="footer_ul2_amrc">
  <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/sandesha-dsouza-/">Sandesha Dsouza</a></li>
  <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/akshatha-n-k-0511601bb/">Akshatha N K
  </a></li>
  <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/swathi-prabhu-839186181/">Swathi Prabhu
  </a></li>
  <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/shreeram-bhat-b8b9011b9/">Shreeram Bhat
  </a></li>
  <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/ajaykini2000/">Ajay Kini
  </a></li>
  </ul>
  <!--footer_ul2_amrc ends here-->
  </div>
  <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">&nbsp;</h5>
    <!--headin5_amrc ends here-->
    
    <ul class="footer_ul2_amrc">
    <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/sujith-kharvi-18a254170/">Sujith Kharvi
    </a></li>
    <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/akshay-v-nayak-50719668/">Akshay V.Nayak
    </a></li>
    <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/yash-s-prabhudesai-0002171ab/">Yash S Prabhudesai
    </a></li>
    <li><a href="#"><i class="fab fa-linkedin"></i> </a><a href="https://www.linkedin.com/in/sriraksha-nayak-4b5248181/">Sriraksha Nayak
    </a></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
  </div>
  </div>
  
  
  <div class="container">
  
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2021 | Designed With by <a href="https://sushiksha.konkanischolarship.com/">Sushiksha</a></p>
  
  <ul class="social_footer_ul">
  <li><a href="https://www.facebook.com/vkssfalumni/"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="https://twitter.com/SushikshaWkc"><i class="fab fa-twitter"></i></a></li>
  <li><a href="https://www.linkedin.com/company/sushiksha/"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="https://www.instagram.com/vkssf_alumni/?hl=en"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <!--social_footer_ul ends here-->
  </div>
  
  </footer>
    <!-- SCRIPTS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}" defer></script>

</body>
</html>