<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V12</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images1/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor1bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts1/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts1/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor1/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor1/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor1/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css1/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css1/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter" >
		<div class="container-login100" style="background-image: url('../static/images1/img-01.jpg');">
			<div class="wrap-login100 p-t-70 p-b-30" >
				<form class="login100-form validate-form" action="{{url_for('home_teacher')}}" method="post">
				{% with keek = get_flashed_messages(with_categories=true) %}
     {% if keek %}
     {% for category,item in keek %}

   <div class="{{category}}" ><button type="button" class="clr" >{{item}}</button></div>
     {% endfor %}
    {% endif %}
{% endwith %}
					<div class="login100-form-avatar">
						<img src="../static/images/img_avatar2.png" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Teachers Login
					</span>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
						<label for="uname"><b>Teacher ID</b></label>
						<input class="input100" type="text" name="teacher_id" placeholder="Enter Teacher ID">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<label for="psw"><b>Password</b></label>
						<input class="input100" type="password" name="teacher_password" placeholder="Enter Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>
					

					<div class="text-center w-full p-t-25 p-b-30">
					<label>
							<input type="checkbox" checked="checked" name="remember"> Remember me
					</label>
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					</form>
					<div class="text-center p-t-40">
					<form >
						<button  formaction="/forgot_password_teacher" formmethod="post">Forgot Password?</button>
					</form>	
					</div>
					
					<!<div class="text-center w-full">
						<!a class="txt1" href="#">
							<!i class="fa fa-long-arrow-right"></i>						
						<!/a>
					<!/div>
				<!/form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="../static/vendor1/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor1/bootstrap/js/popper.js"></script>
	<script src="../static/vendor1/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor1/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/js1/main.js"></script>

</body>
</html>